
<div class="navbar-site">
  <div class="logo">
    <img src="assets/icons/star.png" alt="hotel icon">
  </div>
  <a routerLink="/home">Dashboard</a>
  <a routerLink="/checkin">Check-In</a>
  <a routerLink="/checkout">Check-Out</a>
  <a routerLink="/hotelguests">Guests</a>
  <a routerLink="/reservations">Reservations</a>
  <a routerLink="/rates">Rates</a>
  <a routerLink="/rooms">Rooms</a>
  <a routerLink="/housekeeping">Housekeeping</a>
  <a routerLink="/cashiering">Cashiering</a>
  <a routerLink="/home">Setup</a>


   <div class="group-user-logout">
    <div class="user-pic">
      <img src="assets/icons/user2.png" alt="user icon">
    </div>

    <div class="btn-logout" (click)="logout()">Logout
    </div>

  </div>
</div>
