<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootswatch@5/dist/lux/bootstrap.min.css">
<app-navbar></app-navbar>

<table class="table table-hover">
  <tbody>
    <tr class="table-active">
      <th scope="row">Check-In</th>
    </tr>
    </tbody>
</table>

<div class="card add-car">
  <h5 class="card-header">Check-In da Reserva</h5>
  <div class="card-body">
      <form id="add-form" (ngSubmit)="f.form.valid && saveReservation(f)" #f="ngForm" novalidate>
        <div class="form-group">
            <label for="model">Nome do Hóspede</label>
            <input type="text" [(ngModel)]="hotelguest.hotelGuestName" id="hotelGuestName" name="hotelGuestName" #model="ngModel" class="form-control" [ngClass]="{ 'is-invalid': f.submitted && model.invalid }">
            <div *ngIf="f.submitted && model.invalid" class="invalid-feedback">
                <div *ngIf="model.errors">Campo obrigatório!</div>
            </div>
            <label for="model">Identificação do Hóspode</label>
            <input type="text" [(ngModel)]="hotelguest.hotelGuestId" id="hotelGuestIdentification" name="hotelGuestIdentification" #model="ngModel" class="form-control" [ngClass]="{ 'is-invalid': f.submitted && model.invalid }">
            <div *ngIf="f.submitted && model.invalid" class="invalid-feedback">
                <div *ngIf="model.errors">Campo obrigatório!</div>
            </div>
            <label for="model">ID da Reserva</label>
            <input type="number" [(ngModel)]="reservation.reservationId" id="reservationId" name="reservationId" #model="ngModel" required class="form-control" [ngClass]="{ 'is-invalid': f.submitted && model.invalid }">
            <div *ngIf="f.submitted && model.invalid" class="invalid-feedback">
                <div *ngIf="model.errors">Campo obrigatório!</div>
            </div>
            <label for="model">Número do Quarto</label>
            <input type="number" [(ngModel)]="room.roomNumber" id="roomNumber" name="roomNumber" #model="ngModel" required class="form-control" [ngClass]="{ 'is-invalid': f.submitted && model.invalid }">
            <div *ngIf="f.submitted && model.invalid" class="invalid-feedback">
                <div *ngIf="model.errors">Campo obrigatório!</div>
            </div>
        </div>
        <button type="button" class="btn btn-success btn-add-car" (click)="saveCheckIn(room.roomNumber, reservation.reservationId);cleanForm(f)">Check-In</button>
        <button type="reset" class="btn btn-primary" (click)="cleanForm(f)">Cancelar</button>
      </form>
  </div>
</div>

