<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootswatch@5/dist/lux/bootstrap.min.css">
<app-navbar></app-navbar>

<table class="table table-hover">
  <tbody>
    <tr class="table-active">
      <th scope="row">Dashboard</th>
    </tr>
    </tbody>
</table>

<div class="container">
  <div class="row">
    <div class="col">
      <div class="left">
        <ul class="list-group">
          <li class="list-group-item list-group-item-primary d-flex justify-content-between align-items-center">
            <h4>Hotel Status</h4>
            <span class="badge bg-primary rounded-pill"></span>
          </li>
          <li class="list-group-item d-flex justify-content-between align-items-center">
              Stayovers
          <span class="badge bg-primary rounded-pill">15</span>
          </li>
          <li class="list-group-item d-flex justify-content-between align-items-center">
              Departures Expected
          <span class="badge bg-primary rounded-pill">12</span>
          </li>
          <li class="list-group-item d-flex justify-content-between align-items-center">
              Departures Actual
          <span class="badge bg-primary rounded-pill">2</span>
          </li>
          <li class="list-group-item d-flex justify-content-between align-items-center">
              Arrivals Expected
          <span class="badge bg-primary rounded-pill">10</span>
          </li>
          <li class="list-group-item d-flex justify-content-between align-items-center">
              Arrivals Actual
          <span class="badge bg-primary rounded-pill">1</span>
          </li>
        </ul>
      </div>
      <br>
      <div class="left">
        <ul class="list-group">
          <li class="list-group-item list-group-item-primary d-flex justify-content-between align-items-center">
            <h4>Room Status</h4>
            <span class="badge bg-primary rounded-pill"></span>
          </li>
          <li class="list-group-item d-flex justify-content-between align-items-center">
            Available Rooms
          <span class="badge bg-primary rounded-pill">33</span>
          </li>
          <li class="list-group-item d-flex justify-content-between align-items-center">
            Vacant Clean
            <span class="badge bg-primary rounded-pill">16</span>
          </li>
          <li class="list-group-item d-flex justify-content-between align-items-center">
            Vacant Dirty
          <span class="badge bg-primary rounded-pill">2</span>
          </li>
          <li class="list-group-item d-flex justify-content-between align-items-center">
            Occupied Clean
          <span class="badge bg-primary rounded-pill">10</span>
          </li>
          <li class="list-group-item d-flex justify-content-between align-items-center">
            Occupied Dirty
          <span class="badge bg-primary rounded-pill">5</span>
          </li>
          <li class="list-group-item d-flex justify-content-between align-items-center">
            Blocked
          <span class="badge bg-primary rounded-pill">1</span>
          </li>
          <li class="list-group-item d-flex justify-content-between align-items-center">
            Out of Order
          <span class="badge bg-primary rounded-pill">0</span>
          </li>
          <li class="list-group-item d-flex justify-content-between align-items-center">
            Out of Service
          <span class="badge bg-primary rounded-pill">0</span>
          </li>
        </ul>
      </div>
    </div>

    <div class="col">
      <div class="card mb-3 float-right">
        <h3 class="card-header">Hotel HMS</h3>
        <div class="card-body">
          <h5 class="card-title">Business Hotel 4 Stars</h5>
          <h6 class="card-subtitle text-muted">Best Rate Guarantee, Exclusive Deals & Offers</h6>
        </div>
        <img src="assets/icons/hotel-img.jpg" alt="hotelguest icon">
        <div class="card-body">
          <p class="card-text">
            Twin rooms, Double rooms and Deluxe rooms available</p>
        </div>
        <ul class="list-group list-group-flush">
        <li class="list-group-item">Booking available on our website</li>
        </ul>
        <div class="card-footer text-muted">
          Manager JK
        </div>
      </div>
    </div>

    <div class="col">
      <div class="alert alert-dismissible alert-warning">
        <button type="button" class="btn-close" data-bs-dismiss="alert"></button>
        <h4 class="alert-heading">ATENÇÃO!</h4>
        <p class="mb-0"><a href="#" class="alert-link">UH 02 Bloqueada para manutenção!</a> Previsão de conclusão em 07/07/2023.</p>
      </div>
      <div class="alert alert-dismissible alert-danger">
        <button type="button" class="btn-close" data-bs-dismiss="alert"></button>
        <strong>ERRO: </strong> <a href="#" class="alert-link">End of Day Reports</a> Indisponíveis.
      </div>
      <div class="alert alert-dismissible alert-success">
        <button type="button" class="btn-close" data-bs-dismiss="alert"></button>
        <strong>UH 60 disponível!</strong>  <a href="#" class="alert-link"> Finalizada a manutenção!</a>.
      </div>
    </div>
  </div>
</div>




