.container {
  margin-top: 30px;
  text-align: justify;
  max-width: 2000px;
}
.card{
  margin-top: 30px;
  text-align: justify;
  max-width: 2000px;
  margin: auto;
  border: 1px solid #ddd;
  border-radius: 4px;
}
.custom-size {
  max-width: 1200px;
}
.btn.btn {

  font-size: 13px;
  padding: 5px 10px;
}
